* {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color: rgb(188, 225, 237);
    padding-left: 10px;
    padding-right: 10px;
}
ul, ol, dl{
    display: block;
    background-color: white;
    padding-left: 20px;
    margin-top: 5px;
    border: 1px solid black;
}
dd{
    -webkit-padding-start: 20px;
}
table{
    border: 1px solid black;
    width: 100%;
    background-color: white;
}
td{
    border: 1px solid black;
}
a{
    color: rgb(143, 42, 130);
    text-decoration: none;
}
.container{
    border: 3px solid;
    width:  950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    min-width: 400px;
    border-radius: 10px;
    overflow:hidden;
    margin-bottom: 20px;
}
.header{
    height: 200px;
    display: grid;
    grid-template-columns: 200px 1fr;
    background-repeat: repeat;
}
.logo-side{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.logo-img{
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 75px;
    overflow:hidden;
}
.logo-img>img{
    margin-left: -20px;
    margin-top: -15px;
}
.content-head-side{
    text-align: center;
    font-size: 32px;
    padding-top: 30px;
}
.content{
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 600px;
}
.left-content-side{
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    font-size: 18px;
}
:root {
    --primary-image-first: #d5dce9;
    --primary-image-second: #8f8fe0;
    --primary-color: darkslategrey;
}
.left-content-side > a{
    display: block;
    margin-bottom: 5px;
    min-height: 40px;
    max-height: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px var(--primary-image-second);
    text-align: center;
    display: grid;
    grid-template-columns:50px 1fr;
    cursor: pointer;
}
.left-content-side > a:hover{
    background-image: linear-gradient(to right, var(--primary-image-first), var(--primary-image-second));
    color: var(--primary-color);
}
a.deactivated{
    background-image: linear-gradient(to right, var(--primary-image-second), var(--primary-image-first));
    color: black;
}
a.activatedBtn{
    background-image: linear-gradient(to right, var(--primary-image-first), var(--primary-image-second));
    color: var(--primary-color);
    box-shadow: 2px -2px var(--primary-image-second);
}
.left-content-side > a > span{
    margin-left: 5px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.left-content-side > a > i{
    height: 32px;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 8px;
}
.right-content-side{
    padding: 10px;
}
.right-content-side > *:not(ul, ol, dl){
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    font-size: 18px;
}
#StevePage{
    padding: 5px;
    text-align: center;
}
#StevePage > p:not(.steve-jobs){
    width: 100%;
    font-size: x-large;
    font-weight: bold;
    background-color: yellow;
    border: 1px solid black;
}
.steve-img{
    border: 5px solid red;
}
.steve-jobs{
    padding: 10px;
    border: 3px solid #0b0b35;
    font-weight: 700;
}
.Quotes-div{
    display: grid;
    grid-template-columns: 300px 1fr;
}
.Quotes-div > div{
    padding: 1px;
    padding-left: 2px; 
    padding-right: 2px;
    border: 1px solid black;
}
.Quotes-div > div:last-child > p{
    border: 1px solid black;
    margin: 1px;
}
.Quotes-div2{
    border: 1px solid black;
    background-color: aquamarine; 
    padding: 10px;
}
hr{
    border: 1px solid black;
}
#footer{
    min-height: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(162, 212, 240);
    border: 1px solid black;
    text-align: center;
}
#footer a{
    color: rgb(52, 52, 70);
}